@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#app {
  height: 100%;
}
body,
input,
button {
  font: 14px "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
  background-attachment: fixed;
}

/**
* YOUR CODE HERE
*/

html {
  font-size: 62.5%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 6rem;
  margin-bottom: 2rem;
  position: absolute;
  top: 28vh;
}

.logo--users {
  position: absolute;
  transition: top 1s linear;
  top: 2vh;
}

.login__form {
  background-color: #e0e0e0;
  border-radius: 1.5rem 0;
  min-width: 40rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__button,
.login__input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.2rem;
  border-radius: 0.2rem;
  background-color: #d1d1d1;
  border: none;
}

.login__button {
  color: #ffffff;
}

.login__button--filled {
  background-color: #008429;
}

.login__button--filled:hover {
  background-color: #00a333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.container li {
  background-color: #ffffff;
  color: #888a97;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row-reverse;
  flex: 1 0 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.8rem 0.9rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
}

.container li img {
  filter: grayscale(100%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.container li:hover {
  cursor: url(../../assets/images/cerebro.png), auto;
}

/* Media querie*/
@media only screen and (max-width: 800px) {
  .login__form {
    min-width: 30rem;
  }
}
